.addGoods-enter-done {
    display: block;
    opacity: 1;
}

.addGoods-enter {
    display: block;
    opacity: 0;
}

.addGoods-enter-active {
    display: block;
    opacity: 1;
    transition: opacity 1000ms;
}

.addGoods-exit-done {
    display: none;
    opacity: 0;
}

.addGoods-exit {
    display: block;
    opacity: 1;
}

.addGoods-exit-active {
    display: block;
    opacity: 0;
    transition: opacity 1000ms;
}